body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.slideshow-container {
  width: 95vw;
  max-width: 1320px;
  height: 90vh;
  margin: auto;
  position: relative;
}
.slide .slide-img {
  display: block;
  width: 100%;
  height: 100%;
}
.slide {
  display: none;
  height: 100%;
  animation: fade 1s ease-in-out;
}
.next,
.prev {
  position: absolute;
  top: 0;
  color: #79c142;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.next {
  right: 0;
  padding-right: 0.3rem;
}
.prev {
  padding-left: 0.3rem;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
.dots-container {
  position: absolute;
  height: 20px;
  width: 120px;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f2f2f2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.active,
.dot:hover {
  background-color: #79c142;
}
.slide-info {
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .slide-info {
    display: block;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    padding: 3rem 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
    opacity: 0;
  }
  .slide-info .title {
    text-transform: capitalize;
  }
  .slide-info .desc {
    max-width: 400px;
  }
  .slide-btn {
    background-color: #79c142;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .slideshow-container:hover .slide-info {
    opacity: 1;
  }
}
