@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
root {
  --purpleClr: #8284fa;
  --darkPurpleClr: #5e60ce;
  --blueClr: #4ea8de;
  --darkBlueClr: #1e6f9f;
  --greyClr-1: #0d0d0d;
  --greyClr-2: #1a1a1a;
  --greyClr-3: #262626;
  --greyClr-4: #333;
  --greyClr-5: #808080;
  --greyClr-6: #d9d9d9;
  --greyClr-7: #f2f2f2;
  --redClr: #e25858;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.4;
}
