:root {
  --blackClr: #222;
  --whiteClr: #fff;
  --greyClr: #102a42;
  --mainTransition: all 0.3s ease-in-out;
}

.nav {
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-center {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links,
.sign-btn {
  display: none;
}
.btn {
  background-color: var(--blackClr);
  color: var(--whiteClr);
  cursor: pointer;
  transition: var(--mainTransition);
}
.toggle-btn {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
}
.toggle-btn:hover {
  opacity: 0.7;
}
/* sidebar */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--whiteClr);
  visibility: hidden;
  opacity: 0;
  transition: var(--mainTransition);
}
.show {
  visibility: visible;
  opacity: 1;
}
.close-btn {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  font-size: 2rem;
  color: var(--greyClr);
  font-weight: bolder;
  background: none;
  border: none;
  cursor: pointer;
}
