:root {
  --darkClr: #282c35;
  --witheClr: #fff;
  --mainClr: #d23669;
  --greyClr: #64748b;
}

.dark-theme {
  --darkClr: #fff;
  --whiteClr: #282c35;
  --mainClr: #d23669;
  --greyClr: #64748b;
}

body {
  background-color: var(--whiteClr);
  transition: all 0.5s ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* loading  */

.loading {
  height: 6rem;
  width: 6rem;
  border: 5px solid transparent;
  border-top-color: #ffa7c4;
  border-radius: 50%;
  margin: auto;
  animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.nav-container {
  width: 90vw;
  margin: 1rem auto 2rem;
  display: flex;
  justify-content: space-between;
}
.posts-container {
  padding: 5rem 1.2rem;
}

.single-post {
  margin-bottom: 3rem;
}
.logo {
  color: var(--darkClr);
  text-transform: capitalize;
}
.title {
  text-transform: capitalize;
  color: var(--mainClr);
  margin-bottom: 0.5rem;
  font-weight: bolder;
}
.description {
  color: var(--darkClr);
}
.tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.tags span {
  text-transform: capitalize;
  color: var(--greyClr);
}
/* toggle btn */
.toggle-btn {
  background: #ccc;
  border: none;
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
}
.toggle-btn .sun {
  display: none;
}

.toggle-btn .moon {
  display: none;
}
/* end of toggle btn */
@media screen and (min-width: 687px) {
  .posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}
