:root {
  --darkClr: #000;
  --witheClr: #fff;
}

.dark-theme {
  --darkClr: #fff;
  --whiteClr: #000;
}

.nav-container {
  width: 90vw;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
h1 {
  text-transform: capitalize;
  color: var(--darkClr);
}
body {
  background-color: var(--whiteClr);
  transition: all 0.5s ease-in-out;
}
p {
  color: var(--darkClr);
}
/* .toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.toggle-btn .sun {
  display: none;
}

.toggle-btn .moon {
  display: none;
}
/* .toggle-btn .sun {
  display: inline-block;
} */
